/data
/.ipynb_checkpoints
/.idea
/gcp_api_key.pkl
/creat_gcp_api_key.py
!/Community/create_mappers.py
/back_end_dev/json_3.json
/back_end_dev/json_4.json
/back_end_dev/json_5.json
/back_end_dev/json_6.json
/back_end_dev/df_dist_min_max.csv
/back_end_dev/json_all_metro_similarity.json
/back_end_dev/json_metro_percentile_rank.json
/back_end_dev/similarities_100_combinations.csv
/back_end_dev/similarities_all_combinations.csv
/back_end_dev/similarities_all_combinations_2.csv
/back_end_dev/similarities_100_combinations_2.csv
